.frame {
    margin: 20px;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #61dafb;
    border-radius: 20px;
   overflow-wrap: break-word;
}

.frame1 {
    margin: 20px;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 20px;
    overflow-wrap: break-word;
}
